.header{
    text-align: center;
    letter-spacing: 2.8px;
    color:#4a9d9c;
    text-transform: uppercase;
}
.forms{
    .form-group{
        #inp{
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 100%;}
  .label{
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098A9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;}
  .border{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #0077FF;
    transform: scaleX(0);
    transform-origin: 0 0;}
  input{
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    background-color: none;
    border-radius: 0;
    border-bottom: 1px solid #9098A9;
    color: #223254;
    &:focus{
        outline: none;
    }
}}   
}
.form-submit{
    margin:30px;
   .submit-button{
       width: 100%;
       background: inherit;
       border: 2px solid #C8CCD4;
       color:#9098A9;
       font-size:30px;
       text-transform: uppercase;
       border-radius: 15px;
       padding:10px;
       &:hover,&:focus{
           border: 2px solid #9098A9;
           letter-spacing: 1px;
           border-radius: 30px;
       }
   }
}
.todos-list{
    padding: 0;
    list-style: none;
}